/*-==IMPORT==-*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

/*-==GENERAL STYLIZATION==-*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-decoration: none;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-x: hidden;
}

/*-==HEADER==-*/
header{
    height: 80px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-size: 45px;
    margin: 0 0 0 15px;
}
nav{
    display: flex;
    margin: 0 20px 0 0;
    gap: 30px;
}
nav ul{
    display: flex;
    gap: 55px;
}
nav ul li{
    list-style: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
}
nav ul li:hover{
    border-bottom: 3px solid rgb(0, 132, 255);
}
.perfil img{
    width: 25px;
}
span{
    cursor: pointer;
}

/*-==CAROUSEL==-*/
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.carousel-item img {
    display: block;
    height: auto;
    width: 1366px;
}
.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.carousel-control.prev {
    left: 2%;
}
.carousel-control.next {
    right: 2%;
}
.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}
.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.carousel-bullet:hover {
    color: #aaaaaa;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}
#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

/*-==HIGHLIGHTS==-*/
.section{
    padding-top: 25px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.section img{
    height: 100%;
    width: 100%;
    min-width: 15%;
    min-height: 15%;
    border: 2px rgb(0, 132, 255) solid;
    border-radius: 50%;
}

/*-==PRODUCT SECTION==-*/
.products-setion{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}
.products-setion h2{
    padding-top: 15px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}
.products-setion span{
    color: rgb(255, 0, 0);
    font-size: 50px;
    text-decoration: underline;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 65px;
}
.products .product{
    height: 350px;
    width: 350px;
    flex-direction: column;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 10px rgb(153, 153, 153);
}
.product div{
    text-align: center;
}
.product img{
    width: 250px;
    height: 250px;
    position: relative;
    left: auto;
    right: auto;
} 
.product h5{
    color: #000;
    font-size: 25px;
}
.product p{
    color: #000;
}

/*-==FOOTER==-*/
.footer{
    margin-top: 125px;
    background-color: rgb(0, 132, 255);
    height: 150px;
    width: 100vw;
}
.footer ul{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.footer ul li{
    color: #fff;
}

/*-==ACCOUNT==-*/
.wrapper{
    width: 1000px;
    height: 600px;
    margin-top: 30px;
    background-color: #00b7ff;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper img{
    width: 100px;
    position: absolute;
    top: 90px;
}
.account{
    width: 600px;
    height: 300px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background: #0099ff;
    border: 2px solid rgb(0, 140, 255);
}
.account ul{
    list-style: none;
    padding: 5px 200px;
}
.account ul li{
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 200px;
    text-align: center;
}
.account ul li:hover{
    color: #fff;
    background-color: #00b7ff;
    cursor: pointer;
}